head 
{ /**/
}

body {
  
  font-family: 'Play', sans-serif; /** FUENTE PLAY DE GOOGLE FONT **/

  /**EFECTO GRADIENTE**/
  
  background: linear-gradient(-45deg, #be5712, #8a0996, #00abfa, #ad508ead);
  background-size: 400% 400%;
  animation: gradient 18s ease infinite;
  height: 100vh;
}
@keyframes gradient { 
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/**BARRA NAVEGACION**/
.navbar{
opacity: 60%;
}
.QR{ /**IMAGEN QR DE WHATSAPP**/
  opacity: 60%;
  size-adjust: 160px
  ;
}
/** ALINEACION DE TODO TEXTO**/
*{
  text-align: center;
}


h2{
 margin: 1%;
 text-overflow: ellipsis;
color-interpolation-filters: auto;
}
h3{
  margin: 1%;
}
